.c-heading {
    color: $gray-very-dark;
    line-height: $line-height-sm;
    margin-bottom: $grid-base / 2;

    &--level-1 {
        font-size: $font-size-2;
        letter-spacing: $letter-spacing-condensed;

        @include large-up {
            font-size: $font-size-1;
        }
    }

    &--level-2 {
        font-size: $font-size-3;

        @include large-up {
            font-size: $font-size-2;
        }
    }

    &--level-3 {
        font-size: $font-size-5;

        @include large-up {
            font-size: $font-size-3;
        }
    }

    &--upper {
        text-transform: uppercase;
    }

    &--white {
        color: $white;
    }
}