.c-product-card {
    margin-bottom: $grid-base * 4;

    &__cart {
        align-items: center;
        background-color: $gray-light;
        bottom: $grid-base * 1.5;
        display: flex;
        height: $grid-base * 4;
        justify-content: space-between;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 220px;
    }

    &__cart-icon {
        flex: 0 0 20%;
        text-align: center;
    }

    &__cart-text {
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        color: $gray-dark;
        flex: 0 0 60%;
        font-size: $font-size-7;
        font-weight: bold;
        line-height: $grid-base * 4;
        text-transform: uppercase;
    }

    &__color {
        border-radius: 50%;
        display: inline-block;
        height: 12px;
        width: 12px;

        &--one {
            background-color: #dabdfe;
        }

        &--two {
            background-color: #febdbd;
        }

        &--three {
            background-color: #fecfbd;
        }

        &--four {
            background-color: #bde6fe;
        }

        &--five {
            background-color: #fedabd;
        }

        &--six {
            background-color: #e6bdfe;
        }

        &--seven {
            background-color: #458a5c;
        }

        &--eight {
            background-color: #8a6245;
        }

        &--nine {
            background-color: #3f5587;
        }
    }

    &__meta {
        display: flex;
        font-size: $font-size-6;
        justify-content: space-between;
    }

    &__picture {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    &__price {
        display: block;
        font-size: $font-size-4;
        font-weight: bold;
    }

    &__top {
        background-color: $white;
        height: $grid-base * 31;
        margin-bottom: $grid-base * 2;
        position: relative;
        text-align: center;
        width: 100%;
    }
}