.t-newsletter {
    background-color: $gray-light;
    padding-bottom: $grid-base * 4.5;
    padding-left: $grid-base;
    padding-right: $grid-base;
    padding-top: $grid-base * 4.5;

    @include large-up {
        padding-left: $grid-base * 7;
        padding-right: $grid-base * 7;
    }

    &__form {
        width: 100%;

        @include large-up {
            width: 55%;
        }
    }

    &__heading {
        display: block;
        font-size: $font-size-4;
        font-weight: bold;
        margin-bottom: $grid-base * .5;
    }

    &__info {
        margin-bottom: $grid-base * 3;
        width: 100%;

        @include large-up {
            margin-bottom: 0;
            width: 45%;
        }
    }

    &__input {
        width: auto;

        @include medium-up {
            width: 72%;
        }
    }

    &__subheading {
        display: block;
        font-size: $font-size-7;
    }

    &__submit {
        border-radius: 0 $border-radius $border-radius 0;
        margin-left: -2px;
        padding: .7rem 1.75rem;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}