.t-site-footer {
    background-color: $gray-very-dark;

    & .o-row {
        padding-bottom: $grid-base * 1.5;
        padding-top: $grid-base * 4;
    }

    &__address {
        padding-right: $grid-base * 4;
    }

    &__copy {
        color: $gray-very-dark;
        background-color: $gray-light;
        font-size: $font-size-9;
        padding-bottom: $grid-base * 2.5;
        padding-top: $grid-base * 2.5;
    }

    &__info {
        line-height: 2;
    }

    &__instagram {
        margin-right: 3px;
    }

    &__instagrams {
        margin-bottom: $grid-base * 1.5;
    }

    &__item {
        margin-bottom: $grid-base * 3;

        @include large-up {
            margin-bottom: 0;
        }
    }

    &__item-last {
        width: 290px;

        @include large-up {
            margin-left: $grid-base * 7.5;
        }
    }

    &__link {
        color: $white;
        display: block;
        font-size: $font-size-7;
        margin-bottom: 12px;

        &:hover {
            color: $white;
        }
    }

    &__links {
        display: flex;

    }

    &__links-first {
        width: 55%;
    }

    &__links-second {
        width: 45%;
    }

    &__text {
        color: $white;
        display: block;
        font-size: $font-size-7;
        margin-bottom: $grid-base * 2;
    }
}