.o-col {
    padding-left: $gutter;
    padding-right: $gutter;
    width: 100%; //for IE 10-11
    &--md25 {
        @include medium-up {
            flex: 0 0 25%;
            max-width: 25%; //for IE 10-11
        }
    }
    &--md33 {
        @include medium-up {
            flex: 0 0 33.3333%;
            max-width: 33.3333%; //for IE 10-11
        }
    }
    &--md50 {
        @include medium-up {
            flex: 0 0 50%;
            max-width: 50%; //for IE 10-11
        }
    }
    &--lg25 {
        @include large-up {
            flex: 0 0 25%;
            max-width: 25%; //for IE 10-11
        }
    }
    &--lg33 {
        @include large-up {
            flex: 0 0 33.3333%;
            max-width: 33.3333%; //for IE 10-11
        }
    }
    &--lg50 {
        @include large-up {
            flex: 0 0 50%;
            max-width: 50%; //for IE 10-11
        }
    }
    &--lg75 {
        @include large-up {
            flex: 0 0 75%;
            max-width: 75%; //for IE 10-11
        }
    }
}